@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #130C12;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #130C12;
}

h3 {
    font-size: 32px;
    color: #130C12;
}

h4 {
    font-size: 20px;
    color:#130C12;
    padding-top:5px;
}
h5 {
    font-size: 18px;
    color:#130C12;
    font-family: 'Poppins';
    font-weight:400;
    padding-top:5px;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-family: 'Poppins';
    font-size: 16px;
    color: #130C12;
    margin: 15px 0 20px 0;
}
body {
    width: 100%;
}
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
.logo {
    max-width:60%;
}
/*hide mobie menu*/
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}
/*create nav bar background, align objects (with padding) and make navbar sticky i.e. still visible when scroll down*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #D383CC;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
/*align menu items horizontally*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*remove bullet points from list items, add padding, and position (for the underline effect's position later)*/
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
/*remove the underline of anchor tags & adjust font size, weight etc*/
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #130C12;
    transition: 0.4s ease;
}
/*add hover effect to nav items and add color effect to indicate the current page in use*/
#navbar li a:hover,
#navbar li a.active {
    color:#fff;
}
/*add underline effect that goes active when hovered*/
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 1.5px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
}
/*banner styling*/
#banner {
    display: flex;
    justify-content: space-around;
    background-color: #130C12;
    padding:5px;
}
#banner p {
    font-size:15px;
    font-weight:500;
    color:#fff;
    margin:5px;
}
#banner span {
    font-family: 'poppins';
    color:#FAAD0D;
}
/*featured record section in homepage*/
#feature1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 40px;
    padding-bottom:20px;
    padding-top: 60px;
    background-color: #FAAD0D;
}
#feature2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-top:60px;
    background-color: #D383CC;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#feature1 .featured-1a {
    height:600px;
    width:700px;
    cursor: pointer;

}
#feature1 .featured-1b {
    margin-left: 10%;
    cursor: pointer;

}
#feature2 .featured-2b {
    width: 700px;
    height: 600px;
    margin-left:5%;
    cursor: pointer;

}
#feature2 .featured-2a {
    text-align: right;
    margin-left:10%;
    cursor: pointer;

}
#feature1 h3 {
    padding-top:30px;
}
#feature2 h3 {
    padding-top:30px;
}
/*Recommendation section in homepage*/
#product1 {
    text-align: center;
    padding-bottom:15vh;
}
/*arrange prod cards in rows & style*/
#product1 .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 38px 15px;
    transition: .2s;
    position: relative;
    cursor: pointer;
    margin: 20px 0;
}

/*fit image into product card*/
#product1 .product img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
}

#product1 .product .des {
    text-align: start;
}
/*style prod cards' text*/
#product1 .product .des h4 {
    padding-top: 25px;
    font-size: 26px;
    font-weight: 500;
}
#product1 .product .des p {
    color: transparent;
    font-size: 18px;
    font-weight:700;
    margin:0;
    margin-top: 8px;
}
#product1 .product .des .actual-price {
    text-decoration: line-through;
    font-size: 14px;
    color: transparent;
    margin-top: 3px;
}
/*cart button & hover effect*/
#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #130C12;
    font-weight: 500;
    color: #D383CC;
    border: 1px solid #cce7d0;
    transition: 0.2s;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .cart:hover {
    color: #fff;
    background: #088178;
    font-weight: 400;
}
/*Hover effect for prod cards*/
#product1 .product:hover {
    transform: scale(1.15);
    background-color: #FAAD0D;
}
#product1 .product:hover .des h4 {
    color: #fff;
    transition: 0.4s ease;
}
#product1 .product:hover .des .price {
    color: #130C12;
    transition: 0.8s ease;
}
#product1 .product:hover .des .actual-price {
    color: #BF40C7;
    transition: 0.8s ease;
}
.next-btn {
    font-family:'poppins';
    font-size:16px;
    font-weight:600;
    padding: 13px 30px;
    color: #fff;
    background-color: #D383CC;
    transition: 0.2s;
    border: none;
    border-radius:3px;
}
.next-btn:hover {
    color:#D383CC;
    background-color: #130C12;
}
/*style genre section*/
#genre-banner{
    background-color: #130C12;
    text-align: center;
    Padding-bottom:10vh;
}
#genre-banner .genre-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#genre-banner h3 {
    color:#FAAD0D;
    padding: 40px;
}
#genre-banner .genre-container h3{
    color:#fff;
}
#genre-banner .banner-box {
    background-image: url("img/genre1.png");
    min-width: 380px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:30px;
    margin: 20px 8px;
    transition: 0.2s;

}
#genre-banner .box2 {
    background-image: url("img/genre2.jpg");
}
#genre-banner .box3 {
    background-image: url("img/genre3.jpg");
}
#genre-banner .box4 {
    background-image: url("img/genre4.jpg");
}
#genre-banner .box5 {
    background-image: url("img/genre5.jpg");
}
#genre-banner .box6 {
    background-image: url("img/genre6.jpg");
}
#genre-banner .banner-box:hover {
    transform: scale(1.15);
}
#genre-banner .next-btn:hover {
    color:#130C12;
    background-color: #FAAD0D;
}
/*Newsletter section*/

#newsletter {
    height:30vh;
    background-color: #FAAD0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#newsletter p {
    font-weight:500;
    font-size:16px;
    font-style: italic;
    color:#52404f;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter button {
    background-color: #130C12;
    color: #FAAD0D;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#newsletter button:hover {
    background-color: #BF40C7;
    color: #fff;
}
/*footer section*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .logo {
    margin-bottom: 30px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer a {
    font-family:'poppins';
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #372334;
}


footer .copyright {
    width: 100%;
    text-align: center;
}

footer .follow i:hover,
footer a:hover {
    color: #FAAD0D;
}
/* Shop Page */

#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("img/shoppagebanner.png");
    background-size: cover;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background: #D383CC;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a svg {
    font-size: 16px;
    font-weight: 600;
}
/*Product Page*/
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #D383CC;
    color: #fff;
}
#prodetails .single-pro-details .btn2 {
    background: none;
    border: 1px #D383CC;
    color: #fff;
}

#prodetails .single-pro-details p {
    line-height: 25px;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 125px;
    height: 125px;
}
#cart table .remove {
    max-width: 8%;
}
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background: #D383CC;
    color: #fff;
    padding: 12px 20px;
}
#coupon button:hover{
    background: #130C12;
    color: #FAAD0D;
}
#subtotal button:hover {
    background: #130C12;
    color: #FAAD0D;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
/*CHeckout page*/
.checkout-section #subtotal {
 padding-left: 10%;

} 
#checkout-form input:not( .search-box, .checkbox, .size-checkbox, input[type="file"]),
textarea{
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    text-transform: capitalize;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'Poppins', sans-serif;
}
.form2 {
    width: 100%;
    padding: 20px 10vw;
}

.heading{
    text-transform: capitalize;
    font-size: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.form input{
    background: #f5f5f5 !important;
    width: 100% !important;
}

.three-input-container{
    display: flex;
    justify-content: space-between;
}

.three-input-container input{
    margin: 0 !important;
}

#state{
    margin: 0 20px !important;
}

.checkout-box{
    width: 100%;
    height: 200px;
    border-radius: 2px;
    border: 1px solid #FAAD0D;
    padding-left: 10%;
}
/*Order confirmation*/
.heading{
    text-align: center;
    font-size: 40px;
    width: 50%;
    display: block;
    line-height: 50px;
    margin: 30px auto 60px;
    text-transform: capitalize;
}
.heading span{
    font-weight: 200;
}
#order-confirmation {
    padding-top:100px;
    padding-bottom: 100px;
    justify-content: center;
}
#order-confirmation button {
    margin-left:45%;
}
/*Start Media Query*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #FAAD0D;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        padding: 80px 0 0 10px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #navbar.active {
        right: 0;
    }
    #mobile {
        display: flex;
    }
    #mobile i {
        color: #130C12;
        font-size: 24px;
        padding-left: 20px;
    }
    #bar {
        display: initial;
    }
    #close {
        display: initial;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }
    #lg-bag,
    #lg-search {
        display: none;
    }
    #feature1 {
        justify-content: center;
    }
    #feature2 {
        justify-content: center;
    }
    
    #feature1 .featured-1a {
        margin: 15px;
    }
    #feature1 .featured-1b {
        margin: 15px;
    }
    #feature2 .featured-2a {
        margin: 15px;
    }
    #feature2 .featured-2b {
        margin: 15px;
    }

    #product1 .product-container {
        justify-content: center;
    }
    #product1 .product {
        margin: 15px;
    }
    #banner {
        height: 10vh;
    }
    
    #genre-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }
    
    #newsletter .form {
        width: 70%;
    }
    /* Contact Page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
}
@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #header {
        padding: 10px 30px;
    }
    
    #feature1 {
        justify-content: center;
    }
    #feature2 {
        justify-content: center;
    }
    #feature1 .featured-1a {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature1 .featured-1b {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature2 .featured-2a {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature2 .featured-2b {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 12vh;
    }
    #genre-banner .banner-box {
        height: 40vh;
    }
    #genre-banner .banner-box {
        margin-top: 20px;
    }
    
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }
    /* Contact Page */
    #contact-details .details {
        width: 100%;
        padding-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #contact-details {
        flex-wrap: wrap;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        padding-bottom: 30px;
    }
    /* Cart Page */
    #cart-add {
        flex-direction: column;
    }
    #coupon,
    #subtotal {
        width: 100%;
    }
    #subtotal {
        padding: 20px;
    }
    /* SIngle Product */
    #prodetails {
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
}
